name: Test
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '17', '21', '25' ]
    name: Testing on Java ${{ matrix.Java }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2.3.1
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
      - name: Build tools
        run: ./mvnw clean install -B -Pbuild-tools -Djgitver.skip=true
      - name: Test
        run: ./mvnw clean install -B -Pmodules